
.header-parent {
  /* box-sizing: border-box; */
  background: #eeeeee;
  height: 55px;
  
  

}



.header-content {
  max-width: 1035px;
  margin: auto; 
  
  
}

.header {
  
  background: #fff200;
  color: #4c4e4d;
  width: 26%;
  /* margin-top: 0; */
  height: 75px;
  font-size: 72px;
  font-family: 'Lobster', cursive;
  display: inline-block;
  text-align: center;
  /* padding-top: -90px; */
  margin-top: -27px;
  padding-bottom: 16px;
  margin-left: -156px;
  

  
}


/* .hero-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.hero { 
  margin: 0 0 2em 0;
 
}

.fancy {
  line-height: 0.5;
  text-align: center; 
  font-family: 'Yeseva One', cursive;
}

.fancy span {
  display: inline-block;
  position: relative; 
  color: #4c4e4d;
}


.fancy span:before,
.fancy span:after {
  content:'';
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #fff200;
  top: 0;
  width: 400px;
  font-family: 'Neuton', serif;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.hero-section {
   padding-top: 54px;
   max-width: 900px;
   margin: auto;
}


.header-links {
  display: flex;
  justify-content: space-evenly;
  padding-top: 22px;
  max-width: 34%;
  margin-left: 258px;

}


.header-child {
  font-family: 'Archivo Black', sans-serif;
  color: #4c4e4d;
  font-size: 10.5px;
  

}